<h2>個人資料</h2>
<ul>
  <li>男性</li>
  <li>170/50/22</li>
  <li>國立海洋大學通訊與導航工程學系大學部畢業</li>
  <li>現居於臺南</li>
</ul>

<h2>技能</h2>
<p>Python︰大學專題使用及小東西，精進中</p>
<p>C++、Java、Android Studio、C#︰學校課程中接觸過</p>

<h2>作品介紹</h2>
<p><a href="https://github.com/GrodeJiang/Knight_tour">騎士走棋盤</a>:</p>
<ul>
  <p>大學中Android課程的專題，使用工具︰Android Studio，用西洋棋中騎士的Z字走法移動，在不重覆走的情況下，踩過所有格子。</p>
  <p>這個專題除了美術外，其它都是由我負責。</p>
</ul>
<p><a href={{ site.baseurl }}{{ site.compass.Poster }}>大學專題</a>︰</p>
<ul>
  <p>    在雲端伺服器上建構網站，使用工具︰Python(Flask)、Bootstrap和MongoDB，功能為讓使用者上傳圖片至雲端，由網站展示其圖片及資料。</p>
  <p>這個專題我負責的部分是網站全端的設計、編寫及資料庫的設計。</p>
</ul>
<p>自己平常有寫過一些小東西，例如︰</p>
<ul>
  <p> Line ChatBot︰使用工具︰Python，建置於GCP上，平時會記錄資料，等使用者做出特定動作後會去抓資料回覆</p>
</ul>
<p>現在正在把大學的專題用較好的方法重新寫一次，讓自己的能力能再往上提升。</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/GrodeJiang">My GitHub</a>
  </li>
  <li>
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/excentris/compass">Web GitHub Repository</a>
  </li>
  <li>
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="http://excentris.net">The Author of Web</a>
  </li>
</ul>
