<h2>個人資料</h2>
<ul>
  <li>男性</li>
  <li>170/50/22</li>
  <li>E-mail：z2563920@gmail.com</li>
  <li>聯絡電話：0970535716</li>
</ul>

<p></p>

<h2>自傳</h2>
<p>(2019/07)國立海洋大學通訊與導航工程學系大學部畢業</p>
<p></p>
<p>Android課程期末完成一個騎士走棋盤的app</p>
<p></p>
<p><a href={{ site.baseurl }}{{ site.compass.Poster }}>大學專題</a>為在雲端資料庫上建構網站，使用語言為Python，網頁框架為Flask，資料庫為MongoDB，這個專題我負責的部分是網站全端的設計及資料庫的串接。</p>
<p>自己平常有寫過一些小東西，例如︰
Line ChatBot，語言Pyhton，建置於GCP上，平時會記錄資料，等使用者做出特定動作後會去抓資料回覆</p>
<p></p>
<p>(2019/07)正在把大學的專題用較好的方法重新寫一次，讓自己的能力能再往上提升。</p>


<hr />

<ul class="fa-ul main-list
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/GrodeJiang">My GitHub</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/excentris/compass">Web GitHub Repository</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="http://excentris.net">The Author of Web</a>
  </li>
</ul>
